@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor-primaria: rgb(17, 86, 102);
    --cor-primaria-darker: rgb(7, 35, 41);

}

* {
    box-sizing: border-box;
    outline: 0;

}

body {
    margin: 0;
    padding: 0;
    background: var(--cor-primaria);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background: #ffffff8f;
    padding: 20px;
    border-radius: 10px;
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input{
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus{
    outline: 1px solid var(--cor-primaria);
}

form button{
    border: none;
    background: var(--cor-primaria);
    color: #fff;
    font-size: 18px;
    font-weight: 700px;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
}

form button:hover{
    background: var(--cor-primaria-darker);
}

.tabela{
    display: flex;
}
.imc{
    flex: 1;
    
}
.resultado{
    flex: 1;
}

.paragrafo-resultado, .bad{
    background: rgb(109, 255, 182);
    padding: 10px 20px;
}

.bad{
    background: rgb(255, 109, 109);
}